/* 控制元素的容器样式 */
.controls-container {
    display: flex;
    /* 使用flex布局 */
    justify-content: space-evenly;
    /* 子元素间距平均分配 */
    align-items: flex-start;
    /* 垂直居中对齐 */
    padding: 10px;
    /* 适当的内边距 */
    margin-bottom: 20px;
    /* 底部间隙 */
}

.select-container,
#slider-container {
    display: flex;
    /* 同样使用flex布局确保标签和元素在一行 */
    align-items: center;
    /* 垂直居中对齐 */
}

/* 调整滑动条样式 */
#year {
    margin-left: 10px;
    /* 与标签间的间隙 */
}

/* 年份值样式 */
#year-value {
    margin-left: 10px;
    /* 与滑动条间的间隙 */
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}

.chart {
    flex: 1;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    width: 600px;
    height: 300px;
    overflow: hidden;
}

.chart-row>h2 {
    font-size: 1.25em;
    text-align: center;
    margin: 10px 0;
}

.map-container,
#map {
    height: 100%;
    width: 100%;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px solid #ccc;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

.axis-label {
    font-size: 13px;
}

.legend {
    font-size: 12px;
}

.line-energy,
.line-co2 {
    fill: none;
    stroke-width: 2px;
}

.line-energy {
    stroke: steelblue;
}

.line-co2 {
    stroke: orange;
}

.select-container {
    margin: 10px;
}

.legend-square {
    width: 10px;
    height: 10px;
    display: inline-block;
}